.buypage {
    display: flex;
}

.card {
    display: flex;
    width: 35%;
    height: 50px;
    margin: 0 auto;
    margin-top: 2rem;
    box-shadow: 0px 10px 34px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 20px;
}

.pay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.lineno {
    /* display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px; */
    color: #000;
    font-weight: 700;
    margin-right: 10px;
    list-style: none;
}